@use '../../../sass/layout/flex' as l;
.changePasswordFormContainer {
  width: 100%;
  @include l.flex-container($direction: column, $align: flex-start);
  padding: 2em;
}
.changePasswordFormSubmitButton {
  margin-top: 1em;
  width: 100px;
}
