@use '../../../sass/layout/flex' as l;
.changePasswordFormContainer {
  max-width: 500px;
  @include l.flex-container($direction: column, $align: flex-start);
  padding: 2em;
}
.changePasswordFormSubmitButton {
  margin-top: 1em;
}
.flex-wrapper {
  @include l.flex-container($direction: row, $align: center, $spacing: flex-end)
}