// Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

// Font sizes

$text-sm: 12px;
$text-md: 16px;
$text-lg: 24px;
$text-xl: 32px;