@use '../../../sass/abstracts/variables' as *;
@use '../../../sass/core/typography' as t;

.trendingItemContainer {
  width: 100%;
  display: flex;
  gap: 1em;
}
.trendingItemImg {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;
  width: 50px;
  box-shadow: $boxshadow;
}
.detailsWrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .detailsTitle {
    color: $text-dark;
    font-size: 14px;
    font-weight: 600;
  }
  .detailsDescription {
    color: $text-gray;
    font-size: 12px;
    margin-right: 0.5em;
  }
}
