.volumeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .volumeButton {
    width: 1.75em;
  }
  .volumeRange {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 50px;
    padding: 0 5px;
  }
}
