@use '../../../sass/abstracts/variables' as *;
@use '../../../sass/core/typography' as t;
@use '../../../sass/layout/flex' as l;

.trendingTrackItemContainer {
  position: relative;
  @include l.flex-container(
    $direction: row,
    $align: center,
    $spacing: space-between,
    $gap: 1em
  );
  width: 100%;
  height: 60px;
  &:hover {
    background-color: $bg-offwhite;
  }

  .verticalDots {
    width: 24px;
    color: $text-gray;
  }
}

@media screen and (max-width: 500px) {
  .playButtonWrapper {
    display: none;
  }
  .likeButton {
    display: none;
  }
}
