@use '../../../sass/abstracts/variables' as *;
@use '../../../sass/core/typography' as t;
@use '../../../sass/layout/flex' as l;

.trendingTrackItemContainer {
  position: relative;
  @include l.flex-container(
    $direction: row,
    $align: center,
    $spacing: space-between,
    $gap: 10px
  );

  width: 100%;
  &:hover {
    background-color: $bg-offwhite-opacity;
  }

  .verticalDots {
    width: 24px;
    color: $text-gray;
  }
}

@media screen and (max-width: 500px) {
  .trendingTrackItemContainer {
    .playButtonWrapper {
      display: none;
    }
    .likeButton {
      display: none;
    }
  }
}
