@use '../../sass/abstracts/variables' as *;
.LinkHeader {
  margin-bottom: 1em;
}
.homeContainer {
  padding: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.skeletonFlexRow {
  display: flex;
  gap: 1em;
}
.homeBottomCol {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  .trendingHeader {
    display: flex;
    align-items: center;
    gap: 2em;
  }
  .homeLikedSongsContainer,
  .homeTrendingTracksContainer {
    min-width: 400px;
    width: 100%;
  }
  .homeTrendingArtistsContainer {
    overflow: hidden;
    min-width: 400px;
    height: 500px;
    .trendingHeader {
      display: flex;
      gap: 3em;
    }
    .artistListWrapper {
      overflow: hidden;
      gap: 2.5em;
    }
    .artistItemWrapper {
      width: 150px;
    }
  }
}

@media screen and (max-width: 1315px) {
  .homeBottomCol {
    flex-wrap: wrap;
    .homeTrendingTracksContainer,
    .homeLikedSongsContainer {
      width: 45%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .homeContainer {
    width: 100%;
  }
  .homeBottomCol {
    width: 100%;
    gap: 2em;
  }

  .homeTrendingTracksContainer,
  .homeTrendingArtistsContainer,
  .homeLikedSongsContainer {
    min-width: 300px !important;
    width: 100% !important;
  }
}
