@use '../../sass/abstracts/variables' as *;

.homeContainer {
  padding: 1.5em;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.homeBottomCol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  .chatSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: $border;
    padding: 2em;
    color: white;
    background: $primary-gradient;
    width: 50%;
    min-width: 100px;
    overflow: hidden;

    .bannerTitle {
      font-size: 2rem;
      max-width: 300px;
    }
    .bannerDescription {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
    .bannerImg {
      width: 500px;
      position: absolute;
      bottom: -55px;
      right: -225px;
      z-index: 1;
    }
    .trendingTracksContainer {
      height: 100%;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 1500px) {
  .chatSection {
    img {
      display: none;
    }
    .bannerTitle {
      font-size: 1rem !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .homeContainer {
    width: 100%;
  }
  .homeBottomCol {
    width: 100%;
    flex-wrap: wrap;
    gap: 2em;
  }
  .trendingWrapper {
    width: 100%;
  }

  .trendingTracksContainer,
  .trendingArtistsContainer {
    width: 100%;
  }
  .trendingTracksContainer {
    order: -2;
  }

  .chatSection {
    min-width: 100% !important;

    order: -1;
  }
}

@media only screen and (max-width: 550px) {
  .trendingWrapper {
    flex-direction: column;
    .trendingTracksContainer,
    .trendingArtistsContainer {
      width: 100%;
    }
  }
  .chatSection {
    min-width: 100% !important;
  }
}

.LinkHeader {
  display: flex;
  justify-content: space-between;
  max-width: 630px;
  margin-bottom: 1em;
}
