@use '../../sass/abstracts/variables' as *;

.homeContainer {
  padding: 1.5em;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.PlayListSection {
  display: flex;
  gap: 2em;
  overflow: scroll;
}
.homeBottomCol {
  display: flex;
  flex-direction: row;
  gap: 7em;
  flex-wrap: wrap;
  .chatSection {
    position: relative;
    border-radius: $border;
    padding: 2em;
    color: white;
    background: $primary-gradient;
    width: 600px;
    min-width: 500px;
    height: 500px;
    overflow: hidden;
    .bannerTitle {
      font-size: 2rem;
      max-width: 300px;
    }
    .bannerDescription {
      max-width: 300px;
    }
    .bannerImg {
      width: 500px;
      position: absolute;
      bottom: -15px;
      right: -200px;
      z-index: 1;
    }
    .trendingTracksContainer {
      height: 100%;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .homeContainer {
    width: 100%;
  }
  .homeBottomCol {
    width: 100%;
    gap: 2em;
  }
  .trendingWrapper {
    width: 100%;
  }

  .trendingTracksContainer,
  .trendingArtistsContainer {
    width: 100%;
  }
  .trendingTracksContainer {
    order: -2;
  }

  .chatSection {
    min-width: 100% !important;
    order: -1;
  }
}

@media only screen and (max-width: 550px) {
  .trendingWrapper {
    flex-direction: column;
    .trendingTracksContainer,
    .trendingArtistsContainer {
      width: 100%;
    }
  }
}

// .header {
//   display: flex;
//   justify-content: space-between;
// }

.LinkHeader {
  display: flex;
  justify-content: space-between;
  max-width: 630px;
  margin-bottom: 1em;
}
