@use '../../../sass/abstracts/variables' as *;
.dragArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px dashed $bg-gray;
  padding: 1.5em;
  height: 300px;
  max-width: 500px;
  .btnWrapper {
    width: 30%;
  }
}
