@use '../../../sass/abstracts/variables' as *;
.modal {
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.showModal {
  pointer-events: all;
  opacity: 1;
}
.closeButton {
  width: 30px;
}
.modalContent {
  border-radius: $border;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 500px;
  min-height: 400px;
  background-color: white;
  .modalHeader {
    margin-top: 0.75em;
    display: inline-flex;
    justify-content: space-between;
    img {
      box-shadow: none;
    }
  }
  .modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
}
