@use '../../sass/abstracts/variables' as *;
.playlistHeader {
  margin-top: 1.25em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  .playlistImageWrapper {
    text-align: center;
  }
  .playlistImage {
    width: 150px;
    border-radius: $border;

    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}
.followButtonWrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.playlistPlayButton {
  width: 100%;
  outline: 1px solid red;
}
.editableInformationWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 1em;
  .headingFollowPlaylist {
    display: flex;
    gap: 1em;
  }
  .editablePlaylistButton {
    width: 30px;
    &:hover {
      text-decoration: underline;
    }
  }
  .playlistInfoWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    overflow: hidden;
    p {
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .buttonsWrapper {
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
}
.playlistButtonWrapper {
  width: 30px;
  display: flex;
  align-items: center;
}

.playlistTracksWrapper {
  padding: 1.5em;
}
.playlistFollowBtn {
  border: 1px solid $accent-dark;
  border-radius: 24px;
  padding: 2px 8px;
  font-size: 12px;
  color: $text-dark;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .headingFollowPlaylist {
    width: 80%;
    flex-wrap: wrap;
  }
  .editablePlaylistButton {
    max-width: 100px;
  }
}

@media screen and (min-width: 810px) {
  .playlistHeader {
    h2 {
      font-size: 3em !important;
    }
  }
  .playlistButtonWrapper {
    width: 50px;
    img {
      filter: invert(23%) sepia(96%) saturate(5115%) hue-rotate(272deg)
        brightness(26%) contrast(105%);
    }
  }
}
