@use '../../../sass/abstracts/variables' as *;

.artistItemWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  cursor: pointer;
  .imageWrapper {
    max-width: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  .followedUserWrapper {
    position: absolute;
    background-color: $bg-dark-accent;
    border-radius: 50px;
    padding: 0.25em;
    width: 30px;
    top: 30px;
    right: 40px;
    img {
      filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(184deg)
        brightness(107%) contrast(96%);
    }
  }
  .followedUserImage {
  }
  .followUserBtn {
    position: absolute;
    background-color: $bg-dark-accent;
    border-radius: 50px;
    overflow: hidden;
    bottom: 50px;
    right: 20px;
    opacity: 0;
    pointer-events: none;
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      filter: invert(92%) sepia(7%) saturate(106%) hue-rotate(233deg)
        brightness(95%) contrast(93%);
    }
  }
  &:hover {
    background-color: $bg-offwhite-opacity;
    .followUserBtn {
      opacity: 1;
      transition: 1s;
      pointer-events: all;
      display: block;
    }
  }
}
