@use '../../sass/abstracts/variables' as *;
.artistlistHeader {
  max-height: 300px;
}

.artistSectionContainer {
  display: flex;
  gap: 2em;
}

.artistImageContainer {
  img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 24px;
  }
}
// .editableInformationWrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 1em;
//   gap: 1em;
//   background-color: $bg-offwhite;
//   width: 100%;
//   .editablePlaylistButton {
//     min-width: 220px;
//     height: 220px;
//     img {
//       border-radius: $border;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }
//   .playlistInfoWrapper {
//     cursor: pointer;
//     width: 70%;
//     text-overflow: ellipsis;
//     p {
//       font-size: 13px;
//     }
//   }
//   .playlistName {
//     font-size: clamp(1rem, 3vw, 5rem);
//   }
// }

// @media screen and (max-width: 800px) {
//   .editableInformationWrapper {
//     .editablePlaylistButton {
//       min-width: 150px;
//       height: 150px;
//       object-fit: cover;
//       border-radius: $border;
//     }
//   }
// }
// @media screen and (max-width: 500px) {
//   .editableInformationWrapper {
//     .editablePlaylistButton {
//       min-width: 100px;
//       height: 100px;
//       object-fit: cover;
//       border-radius: $border;
//     }
//   }
// }
