@use '../../sass/abstracts/variables' as *;
@use '../../sass/core/typography' as t;
@use '../../sass/layout/flex' as l;

.accountContainer {
  @include l.flex-container($direction: column, $align: flex-start);
  padding: 2em;
  a {
    text-decoration: none;
  }
  img {
    box-shadow: $boxshadow;
  }
}
.accountCols {
  @include l.flex-container($align: flex-start, $gap: 3em);
  section {
    width: 600px;
    margin-top: 2em;
  }
  div.buttonWrapper {
    @include l.flex-container($spacing: flex-end);
    width: 100%;
  }
  .accountLink {
    @include l.flex-container($spacing: center);
    margin-top: 1em;
    font-weight: 500;
    height: 30px;
    width: 30%;
    color: #fff;
    line-height: 1;
    padding: 0 10px;
    border-radius: $border;
    background: $primary-gradient;
    box-shadow: $boxshadow;
    &:hover {
      text-decoration: none;
      transform: scale(1.05);
      transition: all 100ms ease-out;
    }
  }
}
.accountAvatarContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  width: 150px;
  margin-top: 2em;
}
.editAvatarButton {
  font-size: t.$text-md;
  &:hover {
    text-decoration: underline;
  }
}
.modalBody {
  @include l.flex-container(
    $direction: column,
    $align: center,
    $spacing: center
  );
}
.accountUpdateModalForm {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 300px;

  button {
    margin-top: 1em;
    box-shadow: $boxshadow;
  }
  input[type='file'] {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  //   input[type='file'] {
  //     display: none;
  //   }
  //   label.customFileUpload {
  //     border: 1px solid $accent-dark;
  //     border-radius: $border;
  //     display: inline-block;
  //     padding: 6px 12px;
  //     cursor: pointer;
  // }
  .buttonWrapper {
    width: 100%;
    display: flex;
    gap: 1.5em;
    .uploadButton {
      padding: 10px 20px;
      font-weight: 500;
      border: 1px solid $accent-dark;
      width: 100%;
      border-radius: $border;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
  .newAvatar {
    overflow: hidden;
    border-radius: $border;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
