@use '../../../sass/abstracts/variables' as *;

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 180px;
  .playerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 180px;
    padding: 1.5em;
    background: $primary-gradient;
    width: 100%;
    border-radius: $border;
  }
}

@media screen and (max-width: 1000px) {
  .playerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
