@use '../../../sass/abstracts/variables' as *;
.inputContainer {
  margin-bottom: 25px;
  .inputWrapper {
    position: relative;

    width: 100%;

    input {
      color: $text-darkgray;
      line-height: 1.2;
      display: block;
      width: 100%;
      height: 60px;
      background: transparent;
      padding: 0 7px 0 43px;
      outline: none;
      border: none;
      border-bottom: 2px solid $bg-offwhite;
      &:focus {
        border-bottom: 2px solid $bg-gray !important;
      }
    }
    .inputError {
      border-bottom: 2px solid $bg-red !important;
    }
  }
}

label {
  font-size: 14px;
  color: $text-darkgray;
  line-height: 1.5;
  padding-left: 7px;
}

.inputIcon {
  position: absolute;
  width: 22px;
  top: 41px;
  left: 7px;
}
.errorText {
  margin-top: 0.25rem;
  color: $bg-red;
  height: 25px;
}
