@use '../../../sass/abstracts/variables' as *;
@use '../../../sass/core/typography' as t;

.songPlayerWrapper {
  display: flex;
  gap: 1em;
  img {
    width: 70px;
    border-radius: $border/2;
  }

  h3 {
    color: white;
  }
  span {
    color: $text-lightgray;
    font-size: t.$text-sm;
  }
}
