@use '../../../sass/abstracts/variables' as *;
@use '../../../sass/layout/flex' as f;
aside.appAside {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  background-color: $bg-dark-aside;
  color: $text-gray;
  width: 300px;
  .profileWrapper {
    h3 {
      color: #fff;
    }
  }
  .navigationContainer {
    margin: 2em 0;
  }
}
