@use '../../../sass/abstracts/variables' as *;
@use '../../../sass/layout/flex' as f;

.profileWrapper {
  display: flex;
  align-items: center;
  gap: 0.75em;

  h3 {
    color: #fff;
  }
}
.navigationContainer {
  margin: 6em 0;
}
