.playlistHeadingWrapper {
  padding: 1.5em;
  display: flex;
  align-items: center;
  gap: 2em;
}
.headingFollowedPlaylist {
  padding: 1em;
}
.myPlaylistWrapper {
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  gap: 3em;
  flex-wrap: wrap;
}
